<table style="width: 100%; padding: 4px 35px; background-color: #29d8ffa4; box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: left;">
              <img style="width: 50px; height: 50px; margin: 0"
                 src="https://png2.cleanpng.com/sh/7c392499fa2ab2b6f5ec8e881e3dc69d/L0KzQYm3U8MxN518j5H0aYP2gLBuTfVtbZR5ittsaYT8PbT2jgB2fJZ3Rdtsb372PcTCjfJwdF5oh995YX78PbbzhfN1eppoRdd1ZXP3grrqTcViapVoSKJsOEG2R4eCTsg2Omg4SKcAMUW1QoSBVMkxQGY3UaU3cH7q/kisspng-electricity-computer-icons-symbol-company-electric-electric-5abdc00c813769.8527305515223849085293.png"
                 alt="Logo">
        </td>
        <td style="text-align: right;">
            <img style="width: 55px; height: 55px; margin: 0"
                 src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
                 alt="icon">
        </td>
    </tr>
</table>