<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                <font size="+1">{{{name}}}, your account is <span style="color:#ff0000"> banned</span>. For more information contact with technical support</font>
                <br>
                <br>
                <br>
                    <a href='www.temporarylink.com'>
                    <button style="background-color:#197185; color:#ffffff; border-radius:10px">Contact with technical support</button>
                    </a>
            </p>
        </td>
    </tr>
    </tr>
</table>